1.Ask the user for the number of items they bought. Also ask the price of each item they bought and quantity purchased.  Display the total amount they owe.

In [24]:
item_num=int(input("The number of items you bought: "))
total = 0
for i in range (item_num):
    price=float(input("The price of item "+str(i+1)+": "))
    quantity=int(input("The number of item "+str(i+1)+": "))
    total += price * quantity
print("The total amount you owe:",total)

The number of items you bought: 3
The price of item 1: 1
The number of item 1: 2
The price of item 2: 3
The number of item 2: 4
The price of item 3: 2
The number of item 3: 3
The total amount you owe: 20.0

Ask the user for a number n.  Calculate 1*2*3*â€¦*n.

In [5]:
n=int(input("Put a number larger than 1: "))
sum = 1
for i in range (1,n+1):
    sum *= i
print(sum)

Put a number larger than 1: 5
120

Ask the user for the number of rows (r). Print * for r rows with each row having as many *s as the row's number. For example, if the user enters 5, your output should look like:

* 
** 
*** 
**** 
*****

In [6]:
row=int(input("How many rows: "))
for i in range (1,row+1):
    print('*'*i)

How many rows: 10
*
**
***
****
*****
******
*******
********
*********
**********

Modify the code you wrote for the problem above to get the following: 
Enter number of rows: 5 
* 
** 
*** 
**** 
***** 
**** 
*** 
** 
*

In [8]:
row=int(input("How many rows: "))
for i in range (1,row):
    print('*'*i)
for j in range (row,0,-1):
    print('*'*j)

How many rows: 7
*
**
***
****
*****
******
*******
******
*****
****
***
**
*

Write a for loop that displays the following set of numbers: 0, 10, 20, 30, 40, 50 . . . 1000

In [9]:
for i in range(101):
    print(10*i)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000

Ask the user to enter 10 numbers and keep/display a running total of the numbers entered.

In [11]:
total = 0
for i in range (10):
    num = float(input("Put a number: "))
    total += num
print(total)

Put a number: 10
Put a number: 9
Put a number: 8
Put a number: 7
Put a number: 6
Put a number: 5
Put a number: 4
Put a number: 3
Put a number: 2
Put a number: 1
55.0

Write a loop that calculates the total of the following series of numbers: 
1/30 + 2/29 + 3/28 + ... + 30/1

In [12]:
total = 0
for i in range (30):
    total += (i+1)/(30-i)
print(total)

93.84460105853213

Running on a particular treadmill you burn 4.2 calories per minute. Write a program that uses a loop to display the number of calories burned after 10, 15, 20, 25, and 30 minutes.

In [14]:
for i in range (10,31,5):
    print(int(4.2 * i))

42
63
84
105
126

Suppose that you want to know the square root of n. If you 
start with almost any approximation, you can compute a better approximation (closer to the 
actual answer) with the following formula: 
better = (approx + n/approx)/2 
Write a program that gets a number from the user and finds its square root using this approach.

In [18]:
n = float(input("Put any number: "))
approx = float(input("Put an approximation: "))
better =  (approx + n/approx)/2 
while better != n**0.5:
    better =  (approx + n/approx)/2 
    approx = better
print(better)

Put any number: 7
Put an approximation: 100
2.6457513110645907

Get an integer from the user.  
Display whether this is a prime number or not.

In [22]:
num=int(input("Put an integer: "))
if num > 1:
    for i in range (2,num):
        if num % i == 0:
            print(num,"is not a prime.")
            break
    else:
        print(num,"is a prime.")
else:
    print(num,"is not a prime.")

Put an integer: 9
9 is not a prime.

Get an integer from the user 
Display all the prime numbers up to the (and including) number entered by the user.

In [26]:
num=int(input("Put an integer: "))
for n in range (2,num+1):
    for i in range (2,n):
        if n % i == 0:
            break
    else:
        print(n)

Put an integer: 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [13]:
n=int(input("Put an int: "))
if n > 1:
    is_prime=True
    for m in range (2,n):
        if n % m == 0:
            is_prime = False
if is_prime:
    print(n,'is a prime')
else:
    print(n,'is not a prime')

Put an int: 67
67 is a prime

Get the user to enter a year. Check if this year is a leap year or not.

the following years are not leap years:
1700, 1800, 1900, 2100, 2200, 2300, 2500, 2600
This is because they are evenly divisible by 100 but not by 400.


The following years are leap years:
1600, 2000, 2400
This is because they are evenly divisible by both 100 and 400.

In [43]:
#What is a gap year? Is a year that can be evenly divided by 4. 
#However, if a year can be evenly divided by 100, it has to be evenly divided by 400 to be a leap year.
yr=int(input("Put a year: "))
if yr % 4 == 0:
    if yr % 100 == 0:
        if yr % 400 == 0:
            print(yr,"is a leap year.")
        else:
            print(yr,"is mot a leap year.")
    else:#yr % 100 != 0
         print(yr,"is a leap year.")
else:
    print(yr,"is mot a leap year.")

Put a year: 2400
2400 is a leap year.

Get the user to enter a year. List all the leap years from that year till 2017.

In [45]:
yr=int(input("Pua a year before 2017: "))
for i in range (yr,2018):
    if i % 4 == 0:
         if i % 100 == 0:
                if i % 400 == 0:
                    print(i)
         else: #yr % 100 != 0
            print(i)

Pua a year before 2017: 1998
2000
2004
2008
2012
2016

Get the user to enter a number n up to which s/he needs triangular numbers. Then print a table going from 0 to n along with the corresponding triangular numbers.  
Aâ€¯triangular numberâ€¯orâ€¯triangle numberâ€¯counts objects arranged in anâ€¯equilateral triangle, as in the diagram on the right. Theâ€¯nth triangular number is the number of dots composing a triangle withâ€¯nâ€¯dots on a side, and is equal to the sum of theâ€¯nâ€¯natural numbersâ€¯from 1 toâ€¯n. â€¯ 
 
From <https://en.wikipedia.org/wiki/Triangular_number>

In [9]:
a=int(input("Enter a num: "))
b=1
while(b*(b+1)/2<=a):
    print(int(b*(b+1)/2))
    b+=1

Enter a num: 1000
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990

Print multiplication tables for 1 through 12.

In [54]:
for i in range (1,13):
    for j in range (1,13):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144