#### Data Analysis: pandas - Series

Agenda<br>
Introduction to Series - one of the two important data structures in pandas<br>
Working with Series<hr>

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Create Series; Like an Ordered Dictionary

lis=[25,35,50]
ind=['jan', 'feb', 'mar']
temp=Series(lis, index=ind)

In [4]:
print(temp)

jan    25
feb    35
mar    50
dtype: int64

In [5]:
type(temp)

pandas.core.series.Series

In [6]:
# sr1 now has values along with index/'keys' to access this data

temp.values

array([25, 35, 50], dtype=int64)

In [7]:
temp.index

Index(['jan', 'feb', 'mar'], dtype='object')

In [8]:
# access elements in series

temp['jan']

25

In [9]:
# check if a particular value present in the index for the series

'jan' in temp

True

In [10]:
temp[temp>30]

feb    35
mar    50
dtype: int64

In [ ]:
temp

In [11]:
temp.name = 'Average Temperatures in New York'
temp

jan    25
feb    35
mar    50
Name: Average Temperatures in New York, dtype: int64

In [12]:
temp.index.name = 'month'
temp

month
jan    25
feb    35
mar    50
Name: Average Temperatures in New York, dtype: int64

In [9]:
# convert series to a dictionary

temp_dt=temp.to_dict()
print(temp_dt)

{'jan': 25, 'feb': 35, 'mar': 50}

In [14]:
temp2=Series(temp_dt)
temp2

feb    35
jan    25
mar    50
dtype: int64

In [15]:
months=['jan', 'feb', 'mar', 'apr']
temp3=Series(temp_dt, index=months)

temp3

jan    25.0
feb    35.0
mar    50.0
apr     NaN
dtype: float64

In [16]:
pd.notnull(temp3)

jan     True
feb     True
mar     True
apr    False
dtype: bool

In [17]:
temp + temp3

apr      NaN
feb     70.0
jan     50.0
mar    100.0
dtype: float64

In [18]:
sr1=Series(np.arange(3),index=['r1','r2','r3'])
sr1

r1    0
r2    1
r3    2
dtype: int32

In [19]:
sr2=Series(np.arange(4),index=[1,2,3,4])
print(sr2)

1    0
2    1
3    2
4    3
dtype: int32

In [20]:
sr3=Series(np.arange(10,100,20))
print(sr3)

0    10
1    30
2    50
3    70
4    90
dtype: int32

In [21]:
print(sr1)

r1    0
r2    1
r3    2
dtype: int32

In [22]:
sr3=sr1.drop('r1')
print(sr3)

r2    1
r3    2
dtype: int32

In [23]:
np.arange(3)

array([0, 1, 2])