#### pandas - DataFrames

Agenda<br>
Introduction to DataFrames - one of the two important data structures in pandas<br>
Working with DataFrames<br>
Importing financial data from sources such as Yahoo Finance<hr>

DataFrame is a very useful data structure in pandas.  <br>
It resembles a spreadsheet full of data with columns describing attributes of the data.  <br>
The first row will contain the column headings; We can optionally explicitly specify an index for each row (see example below), pandas can internally index each row starting from 0.<hr>

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
tim_gr=[65,80,80]
nanda_gr=[80,80,90]
juan_gr=[90,95,95]

In [ ]:
df=DataFrame([tim_gr, nanda_gr, juan_gr], index=['Tim','Nanda','Juan'], columns=['CIS','ACC','MKT'])
print(df)

In [ ]:
gr_book=np.array([tim_gr, nanda_gr, juan_gr])
print(gr_book)

In [ ]:
df1=DataFrame(gr_book, index=['Tim','Nanda','Juan'],columns=['CIS','ACC','MKT'])
print(df1)

In [ ]:
# Examining column names

df.columns

In [ ]:
# accessing values in columns

df['CIS']

In [ ]:
# accessing rows

#df.head()
#df.tail()
df.head(2)

In [ ]:
# accessing rows by index

df.loc[['Tim','Nanda']]

In [ ]:
df.iloc[:2]

In [ ]:
df.ix[:2,['CIS', 'MKT']]

In [ ]:
df[['CIS','MKT']].loc[['Tim','Nanda']]

In [ ]:
df.sum()

In [ ]:
df.describe()

In [ ]:
import pandas as pd
from pandas import Series,DataFrame
import datetime              
from pandas_datareader import data as wb
import pandas_datareader as pdr

In [ ]:
start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2017, 1, 27)
ticker=['AAPL', 'MSFT', 'AMZN', 'GOOG']

In [ ]:
f1=wb.DataReader('AAPL', 'yahoo', start, end)
f2=wb.DataReader('MSFT', 'yahoo', start, end)
f3=wb.DataReader('AMZN', 'yahoo', start, end)
f4=wb.DataReader('GOOG', 'yahoo', start, end)

In [ ]:
#Return the first n rows, default n is 5
f1.head()

In [ ]:
prices=pd.concat([DataFrame(f1['Close']),DataFrame(f2['Close']),DataFrame(f3['Close']),DataFrame(f4['Close'])],axis=1,join='inner')

In [ ]:
prices.columns=ticker
prices.head()

In [ ]:
prices.loc['2016-01-04']

In [ ]:
%matplotlib inline
prices.plot()

In [ ]:
s = datetime.datetime(2016, 1, 5)
e = datetime.datetime(2016, 2, 5)

f1[s:e]['Open']